.table1{
    border:1px solid;
    margin:auto;
    height:602px;
    width:900px;
    /* border-spacing:160px; */
}
.table1 table{
    border:1px solid;
    height:370px;
    width:400px;
    margin:auto;
    position:relative;
}
.box1{
    height:30px;
    width:389px;
    border:1px solid;
    position:absolute;
}
.box11{
    position:absolute;
    height:29px;
    width:317px;
    border:1px solid;
    bottom:40px;
    right:35px;
}
.box12{
    position:absolute;
    width:29px;
    height:215px;
    border:1px solid;
    top:75px;
    left:39px;
}
.box2{
    position:absolute;
    height:287px;
    width:29px;
    border:1px solid;
    bottom:40px;
}
.box3{
    border:1px solid;
    width: 389px;
    height:30px;
    position:absolute;
    bottom:3px;
}
.box4{
    border:1px solid;
    width:29px;
    height:287px;
    position:absolute;
    right:4px;
    bottom:40px
}
.midbox1{
    border:1px solid;
    width:61px;
    height:68px;
    position:absolute;
    bottom:112px;
    left:133px;
    background-color: green;
}
.midbox2{
    border:1px solid;
    width:61px;
    height:68px;
    position:absolute;
    bottom:112px;
    left:201px;
    background-color:yellow
}
.midbox3{
    border:1px solid;
    width:61px;
    height:68px;
    position:absolute;
    bottom:187px;
    left:201px;
    background-color:blue;

}
.midbox4{
    border:1px solid;
    width:61px;
    height:68px;
    position:absolute;
    bottom:187px;
    left:133px;
    background-color:red
}
hr{
    position:absolute;
    width:898px;
    left:350px;
    bottom:165px
}