.div1{
    position:relative;
    right:10px;
    bottom:10px;
    height:150px;
    width:1602px;
    background-color: green;
}
.div2{
    position:absolute;
    height:50px;
    width:300px;
    background-color:skyblue;
    left:20px;
    top:220px;
    /* text-align:center; */
}
.div2 span{
    position:absolute;
    top:15px;
    left:15px;
}
.div1 span{
    position:absolute;
    color:white;
    font-size: 40px;
    bottom:45px;
    left:25px;
}
.text{
    position:absolute;
    bottom:350px;
    left:400px;
    width:600px;
}
.bottom{
    position:absolute;
    height:150px;
    width:1600px;
    left:0px;
    bottom:0px;
    background-color: green;
    /* text-align: center; */
}
.bottom span{
    color:white;
    font-size: 20px;
    position:absolute;
    top:60px;
    right:600px;
}
.link{
    position:absolute;
    text-align: center;
    top:720px;
    left:800px;
}