<style>
        table{
            border:1px solid;
            border-spacing:0px;

        }
        table td{
            border:1px solid;
            height:100px;
            width:200px;
            padding:27px
        }