<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="register.css">
    
</head>
<body>
        <script src="script.js"></script>
        <header>
            <h2>Student Portal</h2>
            <nav>
                <ul>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/">Login</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div class="main_container">
        
            <h3>Register</h3>
            
            <form action="/register" method="POST">
                    
                <ul>
                    <li>
                        <label for="email">E-mail:</label><br>
                        <input type="text" id="email" name="email" required>
                    </li>

                    <li>
                        <label for="password">Password:</label><br>
                        <input type="text" id="password" name="password" required>
                    </li>

                    <li>
                        <label for="password_confirm">Confirm Password:</label><br>
                        <input type="text" id="password_confirm" name="password_confirm" required>
                    </li>
                    
                    <li>
                        <label for="dob">Date of Birth:</label><br>
                        <input type="text" id="dob" name="dob" required>
                    </li>

                    <li class="name_input">
                        <label>Name:</label><br>
                        <input type="text" id="f_name" placeholder="First" name="f_name" required>
                        <input type="text" id="l_name" placeholder="Last" name="l_name" required>
                    </li>

                    <li>
                        <label for="phone">Phone:</label><br>
                        <input type="text" id="phone" name="phone" required>
                    </li>

                    <li style="display:flex;flex-direction: column;">
                        <button>Submit</button>
                    </li>
                </ul>
            </form>
            
        </div>
        
        <footer>
        </footer>
</body>
</html>