body{
    margin:0;
    /* position:relative    */
}
.container{
    position:relative;
    min-height: 45em;
    margin:auto;
    width:900px;
    background-color:lightgray;
    border:1px solid;;
    border-left:none;

}

.head{
    height:130px;
    width:899px;
    border-right:none;
    border:1px solid;
    background-color:blue
}

.content{
    /* float:right; */
}

.menu1{
    float:left;
    border:1px solid;
    border-spacing:0px;
    width:900px;
    height:30px;
    border-right:none;
    background-color: lightgreen;
}
.menu1 td{
    text-align: center;
    border-right:1px solid;
    height:20px;
    width:20px;
}
.menu2{
    float:left;
    border:1px solid;
    border-top:none;
    height:35em;
    border-bottom:none;
    width:160px;
    /* padding-top:7px */
}
.menu2 li{
    border-bottom:1px solid;   
    padding-left:20px;
    padding-top:4px;
    padding-bottom: 4px;
    background-color: lightblue;
}
ul{
    /* border-top:None; */
    padding-top:0px;
    padding-left:0px;
    margin:0px;
    list-style-type: none;
}
.img1{
    width:140px;
    height:20em; 
}

.page{
    margin-top:33px;
    float:left;
    /* margin-left:20px */
}
.page table{
    width:718px;
    border-bottom:1px solid; 
    border:none;
    border-spacing:0;
}
.page table td{
    height:30px;
    padding:10px;
    border-bottom:1px solid
}
.page table span{
    color:blue
}

.footer{
    border:1px solid;
    height:20px;
    width:899px;
    position:absolute;
    bottom:0px;
    background-color: blue;
    text-align: center;
}
