.container{
    width:300px;
    margin:auto;
    
}

table{
    background-color: rgb(99, 129, 138);
    border-spacing: 0px;
}

table tr td{
    height:30px;
    width:30px;
    text-align: center;
}


.green{
    background-color:green;
}

.next,.prev{
    margin-top:5px;
    height:20px;
    min-width:40px;
}

button{
    background-color: rgb(99, 129, 138);
    border:0;
    width:100%;
    height:100%;   
}

button:hover{
    background-color:rgb(65, 113, 177)
}