.container{
    width:300px;
    margin:auto;
    
}

table{
    /* border:1px solid; */
    border-collapse: separate;
    border-spacing: 0px;
    /* margin:auto; */
}

table tr td{
    border:1px solid;
    height:30px;
    width:30px;
    border-right:0;
    border-top:0;
    text-align: center;
}

.green{
    background-color:green;
}

.next,.prev{
    margin-top:5px;
    height:20px;
    min-width:40px;
}