.container1{
    position:relative;
    border:1px solid;
    height:200px;
    width:800px;
    background-color: silver;
    margin:auto;

}

.box1{
    position:absolute;
    left:22px;
    top:22px;
    border:1px solid;
    height:150px;
    width:150px;
    background-color: white;
    transition:height 8s,width 8s,left 8s, background-color 8s, top 8s;
    z-index: 1;
}

.placeholder{
    position:absolute;
    left:22px;
    height:150px;
    width:150px;
    background-color: transparent;
    z-index: 2;
}

.placeholder:hover ~ .box1{
    left:522px;
    height:50px;
    width:50px;
    background-color:yellow;
    top:70px;

}

.container2{
    position:relative;
    border:1px solid;
    height:200px;
    width:800px;
    background-color: silver;
    margin:auto;
    margin-top:20px;

}

.box2{
    position:absolute;
    top:70px;
    left:22px;
    border:1px solid;
    height:50px;
    width:50px;
    background-color: white;
    transition:top 6s,height 6s,width 6s,background-color 6s;

}

.box2:hover{
    height:150px;
    width:700px;
    background-color: red;
    top:25px
}
