div{
    border:1px solid;
    height:400px;
    width:700px;
    position:relative
    
}
div div{
    border:1px solid;
    position:absolute;
    height:70px;
    width:70px;
}
.div1{
    top:50px;
    left:50px;
    background-color: red;
}
.div2{
    top:85px;
    left:84px;
    background-color:green
}
.div3{
    top:121px;
    left:120px;
    background-color:blue;
}
.div4{
    top:156px;
    left:155px;
    background-color:yellow;
}
.link{
    text-align: center;
    border:0px;
}