html, body{
    height:100%;
    width:100%;
    margin:0;
}

.outer_container{
    display:flex;
    height:95%;
    width:100%;
}

    header{
        width:100%;
        height:5%;
        background-color: rgb(238, 231, 231);
    }

    .sidebar{
        width:8%;
        background-color: slategrey;
        display: flex; 
        flex-direction: column;
        padding-top: 40px;
        box-sizing: border-box;
        align-items: center;
    }

        .menu_text{
            margin-top: 2px;
            font-size: 1em;
            text-align: center;
        }
    
        .sidebar div{
            margin-top:20px;
            margin-right:8px;
            display:flex;
            align-items: center;
            flex-direction:column;
            width:96%;
            border-left:8px solid transparent;
        }

        .sidebar div:hover{
            border-left:8px solid rgb(0, 0, 0);
        }



.content{
    width:100%;
    background-color:rgb(133, 145, 168);
    display: flex;
    flex-direction:column;
    align-items: center;
}
    
.wrapper{
    margin:auto;
    min-height: 95%;
    min-width:60%;
    background-color:slategrey;
}

table{
    height:60%;
    margin: auto;
    border-spacing: 10px;
    border-collapse: collapse;
}

table thead td{
    border-bottom: 1px solid rgb(54, 67, 90);
}


table tbody td{
    /* border-top: 1px solid; */
}

table { border-collapse: separate; }
td { border: solid 1px #000; }

td:first-child { border-top-left-radius: 10px; }
td:first-child { border-bottom-left-radius: 10px; }
td:last-child { border-top-right-radius: 10px; }
td:last-child { border-bottom-right-radius: 10px; }

table tr td{
    height:30px;
    /* padding:15px; */

}

p{
    margin:0px;
    font-size:1.7em;
}

hr{
    width:100%;
    margin:0px;
}

footer{
    height:5vh;
    background-color: rgb(54, 67, 90);
} 
