<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/classes.css">
</head>


<body>
    <div class="outer_container">
        <%- include("./partials/sidebar.ejs") %>
    
                <div class="content">
                <header>
                </header>
                
                <div class="wrapper">
                    <table>
                        <thead>
                            <tr>
                                <td> Name </td>
                                <td> Lecturer </td>
                                <td> Credit </td>
                                <td> Room </td>
                                <td> Time </td>
                                <td> </td>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td> Python </td>
                                <td> Someone</td>
                                <td> 78</td>
                                <td> 781</td>
                                <td> 7:13 PM</td>
                                <td class="choose"> <button> Choose </button> </td>
                            </tr>
                            
                            <tr>
                                <td> Python </td>
                                <td> Someone</td>
                                <td> 78</td>
                                <td> 781</td>
                                <td> 7:13 PM</td>
                                <td class="choose"> <button> Choose </button> </td>
                            </tr>
                            <tr>
                                <td> Python </td>
                                <td> Someone</td>
                                <td> 78</td>
                                <td> 781</td>
                                <td> 7:13 PM</td>
                                <td class="choose"> <button> Choose </button> </td>
                            </tr>
                            <tr>
                                <td> Python </td>
                                <td> Someone</td>
                                <td> 78</td>
                                <td> 781</td>
                                <td> 7:13 PM</td>
                                <td class="choose"> <button> Choose </button> </td>
                            </tr>
                            
                            <tr>
                                <td> Python and some other stuff you learn in university</td>
                                <td> Someone</td>
                                <td> 78</td>
                                <td> 781</td>
                                <td> 7:13 PM</td>
                                <td class="choose"> <button> Choose </button> </td>
                            </tr>
                        
                            <tr>
                                <td> Python and some other stuff you learn in university</td>
                                <td> Someone</td>
                                <td> 78</td>
                                <td> 781</td>
                                <td> 7:13 PM</td>
                                <td class="choose"> <button> Choose </button> </td>
                            </tr>
                            <tr>
                                <td> Python and some other stuff you learn in university</td>
                                <td> Someone</td>
                                <td> 78</td>
                                <td> 781</td>
                                <td> 7:13 PM</td>
                                <td class="choose"> <button> Choose </button> </td>
                            </tr>
                    

                        

                        </tbody>
                    </table>
        
            </div>

                    
    </div>
       

    <footer>
    </footer>


</body>
</html>