<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
    
</head>
<body>
    <%- include("./partials/header.ejs") %>
  
    <div class="main_container">
        <form action="" autocomplete="">
            <ul>
                <li>
                    <label for="email">Email:</label><br>
                    <input type="text" id="email">
                </li>
                <li>
                    <label for="password">Password:</label><br>
                    <input type="text" id="password">
                </li>
                <li>
                    <button class="button">Log In</button>
                </li>
            </ul>
        </form>
        
    </div>
    <div >
    </div>
    <%- include("./partials/footer.ejs") %>

    <script>
        const form = document.querySelector("form")
        form.addEventListener("submit", register)

        async function register(e){
            e.preventDefault()
            var email = document.getElementById("email").value
            var password = document.getElementById("password").value

            var result = await fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email,
                    password
                })
            })
            .then((res) => res.json())

            if (res.status == 'ok'){
                console.log("got the token: ", res.data)
            }
        }
    </script>

</body>
</html>