<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="portal.css">
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="main_container">
        <div class="inner_container">
            <div class="inner_menu">
                <div>Classes</div>
                <div>Timetable</div>
                <div>grades</div>
                <div>Info</div>
            </div>

        </div>

    </div>


    <%- include("./partials/footer.ejs") %>
</body>
</html>