<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <header>
        <h2>Student Portal</h2>
        <nav>
            <ul>
                <li><a href="/register">Register</a></li>
                <li><a href="/">Login</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="main_container">
        <form action="/register" method="POST">
            <h3 style="text-align: center;">Register</h3>
            
            <div>
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email">
            </div>
            <div>
                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password">
            </div>
            <div>
                <label for="password_confirm">Confirm Password:</label><br>
                <input type="text" id="password_confirm" name="password_confirm">
            </div>
            <div>
                <label for="dob">Date of Birth:</label><br>
                <input type="text" id="dob" name="dob">
            </div>
            <div class="name_input">
                <label>Name:</label><br>
                <input type="text" id="f_name" placeholder="First" name="f_name">
                <input type="text" id="l_name" placeholder="Last" name="l_name">
            </div>
            <div>
                <label for="phone">Phone:</label><br>
                <input type="text" id="phone" name="phone">
            </div>
            <button style="align-self: end;">Register</button>
        </form>
        
    </div>
    
    <footer>

    </footer>
</body>
</html>