body{
    margin:0;
    padding:0;
}

header{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    height:13vh;
    width:100%;
    background-color: rgb(53, 79, 97);
    margin:auto;
}

nav{
    width:30%;
    flex-direction:column;
    margin:0px;
    padding:0px;
    margin-right:27%;
}

header h2{
    margin-right:18%;
    border:1px solid;
    width:20%;
    color:rgb(119, 188, 190)
}

nav ul{
    align-self: center;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

header nav li{
    display:inline;
    margin:10px;
}

header nav ul li a{
    text-decoration:none;
    color:rgb(164, 164, 235);
    font-size:1.5em;
}

.main_container{
    overflow: auto;
    height:74vh;
    width:100%;
    background-color: rgb(119, 188, 190);
    display:flex;
    justify-content: center;
    margin:auto;
}

form{
    margin-top:-3%;
    width:18%;
    display:flex;
    justify-content: center;
    flex-direction:column;
}

form div{
    margin-bottom:5%;
    width:100%;
}

input{
    height:46%;
    width:100%;
}

button{
    width:25%;
    display:flex;
    flex-direction: column;
}


.name_input{width:109%;}
.name_input div{display:inline;}
.name_input input{
    width:44.2%;
    height:46%;
}

form div{margin-top:7px;}
label{display:inline-block;margin-bottom:7px;}

footer{
    display:flex;
    flex: 200;
    height:13vh;
    width:100%;
    background-color: rgb(53, 79, 97);
}