.break{
    flex-basis:100%;
}

.container{
    width:800px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom:1px solid;

}

.box1{
    height:45px;
    width:30px;
    background-color: yellowgreen;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:15px;
}

.box1 div{color:white;font-size:24px}