
.container{
    display:flex;
    border:1px solid;
    height:500px;
    width:70%;
    margin:auto;
    justify-content: space-evenly;
    flex-wrap: wrap;    
}

.break{width:100%;height:20px}

.box1{
    border:1px solid;
    border-radius: 5px;
    height:40px;
    /* margin:10px */

}

.col-s-1 {width: 9.33%;}
.col-s-2 {width: 15%;}
.col-s-3 {width: 23.2%;}
.col-s-4 {width: 31.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 47.7%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}