table{
    border-style: solid;
    margin:auto;
}

table tr td{
    border:1px solid;
    width:200px;
    height:200px;
}

.container{
    display:flex;
    flex-wrap: wrap;
    width:555px;
    height:180px;
    margin:auto;
    margin-top:30px;
}
input{
    margin:6px;
    display:inline;
}
.inner{
    width:160px;
    height:50px;
    /* display:inline:block; */
}
p{margin:0;margin-left:5px;padding:0;}
button{
    height:20px;
    width:100px;
    margin-left:5px
}

img{height:200px;width:200px;}