body{
    margin:0;
}
.content{
    margin-top:20px;
    margin-left:264px;
    /* position:relative    ;  */
    /* bottom:300px */
}
header{
    width:100%;
    border:1px solid;
    height:190px;
    background-color:rgb(28, 44, 44);
    border-bottom:3px solid green;
    position:relative
}
.headertext{
    font-size: 50px;
    position:absolute;
    left:260px;
    top:30px;
    color:greenyellow
}
.headertext2{
    font-size:20px;
    position:absolute;
    left:263px;
    top:100px;
    color:grey
}
.nav1{
    position:absolute;
    bottom:0px;
    left:540px;
    margin-right:120px
}
.nav1 a{
    background-color:rgba(172, 159, 159, 0.746);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    height:35px;
    display:inline-block;
    color:white;
    text-decoration:none
}
.nav1 div{
    padding-top:10px
}
.nav1 a:hover{
    background-color: yellowgreen;
}

/* pix */
.frame{
    background-color:lightgray;
    height:240px;
    width:1050px;
}
.pic1{
    position:relative;
    left:10px;
    top:10px;
    height:220px;
    width:1030px
}
                                    /* SIDEBAR */
.sidebar{
    position:absolute;
    right:274px;
    margin-top:20px
}
.news{
    border:1px solid;
    border-radius:15px;
    height:240px;
    width:230px;
    border-color:lightgrey
}
.news p{
    
    list-style-type: none;
    /* line-height: 30px; */
    margin-right:20px;
    padding-left:15px;
}
.links{
    border:1px solid lightgrey;
    border-radius:15px;
    height:190px;
    width:215px;
    padding-left:18px;
    margin-top:10px
}
.search{
    border:1px solid lightgrey;
    border-radius:15px;
    height:140px;
    width:215px;
    padding-left:18px;
    margin-top:10px
}
.search input{
    width:150px;
}
.search p{
    font-size:20px;
}
.bg {
    position:absolute;
    margin-left:8px;
    background-image: url( '2.png' );
    background-size: 27px 32px;
    height: 35px;  
    width: 30px;
}
                                    /* TEXT */

.text1{
    width:780px;
}
                            /* links */

ul{
    padding-left:20px
}


input:hover{
    border-color: rgba(0, 0, 255, 0.698);
    border-radius:4px
}

/* tables */

table{
    height:200px;
    /* border:1px solid; */
    width:1000px;
    /* border-collspse */
}
table tbody td{
    /* border:1px solid; */
    height:20px;
    /* width:10px; */
    color:white;
    background-color:rgb(164, 190, 164)
}
table thead tr{
    /* width:20px; */
    height:20px;
    background-color:darkslategrey
}



.formtext{  
    height:20px;
    margin-left:150px;
    width:300px
}
.formarea{
    height:150px;
    width:300px;
    margin-left:162px;
    margin-top:10px
}
.chkbx{
    margin-left:152px;
    margin-top:10px
}
.dd{
    margin-left:118px;
    margin-top:10px;
    width:320px
}

.button2{
    background-color:darkslategray;
    border-color:darkslategray;
    height:35px;
    width:100px;
    margin-left:530px;
    margin-top:10px
}
                                    /* FOOTER */
footer{
    height:140px;
    width:100%;
    background-color: darkslategrey;
    border-top:yellowgreen 3px solid;
    text-align:center;   
}
footer .nav2{
    margin-top:45px;
    color:lightyellow
}
footer .nav2 a{
    display:inline-block;
    color:lightyellow;
    text-decoration: none;
}
footer .nav2 .futerdiv2{
    width:55px
}
.futerdiv{
    position:relative;
    bottom:-20px;
    color:lightyellow
}