body{
    margin:0;
    /* margin-left:270px; */
    /* margin-right:220px; */

}
.head{
    margin:auto;
    border:1px solid;
    border-top:none;
    height:130px;
    width:899px;
    background-image:linear-gradient(to right,red,blue);
}

.menu1 {
    border:none;
    border-spacing: 0;
    border-bottom:1px solid; 
}
.menu1 td{
    height:21px;
    border-right:1px solid;
    text-align: center;
}
.content{
    margin-left:217px;
    
}
.menu1{
    border-top:none;
    border:1px solid;
    width:900px;
    height:30px;
}

.menu2{
    border-spacing:0;
    height:230px;
    width:170px;
    border:1px solid;
    border-top:none
}

.menu2 td{
    height:14px;
    border-top:1px solid;
    padding-left:5px;
}