hr{width:700px;}

canvas {
    /* border:1px solid #d3d3d3; */
    background-color: #f1f1f1;
}

.container{
    width:600px;
    height:450px;
    margin:auto;
    border:1px solid blue;
}

canvas{
    position:relative;
}

