<header>
    <h2>Student Portal</h2>
    <nav>
        <ul>
            <li><a href="/register">Register</a></li>
            <li><a href="/">Login</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>