table{
    border:1px solid;
    margin:auto;
    border-spacing: 2px;
    height:500px;
    width:1000px;
}
table td{
    border:1px solid;
    height:20px;
    width:40px
}
thead{
    border:1px solid;
}
thead td{
    border:1px solid;
    height:10px;
    width:200px;
    text-align:center;   
}
tbody{
    border:1px solid
}
tbody td{
    border:1px solid;
    height:90px;
}
tfoot td{
    border:1px solid;
    height:20px;
    background-color: green;
}
