.container{
    margin:auto;
    border:1px solid green;
    min-height:600px;
    width:600px;
    padding:10px;
    background-color: rgb(191, 243, 243);
}

p{height:10px}

select{width:100px}
button{
    margin-top:10px;
    margin-bottom:10px;
    height:25px;
    width:80px;
    padding:0px;
}